* {
    margin: 0;
    padding: 0;
    font: 12px/1.5 Microsoft YaHei,Helvitica,Verdana,Arial,san-serif;
    color: #444;
}

input, select, textarea, span,  button, ul, li {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 4px !important;
}


.button{
    padding:5px 15px;
    border: 1px solid #44b549;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #44b549;
    color: #ffffff;
    box-shadow:0px 0px 1px #44b549 ;
    text-decoration: none;
    outline: none;
}
.button:hover{
    text-decoration: none;
    box-shadow:0px 0px 3px #5ba607 ;
    background: #5ba607;
    color: #ffffff;
}
.button:link{
    text-decoration: none;
    color: bisque;
}
.button:visited{
    text-decoration: none;
    color: bisque;
}
.button-sm{
    padding:2px 8px !important;
}


.font-12 {
    font-size: 12px !important;
}

/*webkit scrollbar*/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.4);
}
.panel-heading{
    background-color:#fff!important;
    border-bottom:none !important;
}
.table{
    margin-bottom: 0px;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(25, 147, 147, 0.1);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(25, 147, 147, 0.2);
}


/*card manage*/
.cardmanage{
    width:1000px;
    margin: 10px 20px;

}

.tcenter th{text-align: center;}
.tcenter tr td{text-align: center;}
.boxcolor{
    background: #fefbe4;
    border: 1px solid #f3ecb9;
    color: #993300;
    padding: 10px;
    margin-top: 5px;
}
.clr{
    display: block;
    clear: both;
    height: 1px;
    overflow: hidden;
    border-color: #EEEEEE;
}
.minfo{
    margin: 30px 0px 10px;
    border-radius: 0px !important;
    border-bottom: 1px solid #EEEEEE;
}
.table-font th{
    font-size: 14px;
    font-weight: bold;
}
.font-14{font-size: 14px;}
.left{float: left;}
.right{float: right;}
.bt-none td{border-top: none !important;}

.tableinfo tr td{
    line-height: 70px !important;
    height: 70px;
}

/*model*/
.modeldiv{
    margin: 10px 10px 10px 230px;
}
.frm_tips {
    color: #8d8d8d;
}
.m10{margin: 10px 0px;}


/*record*/
.recordtable tbody tr td{
    height: 40px !important;
    line-height: 35px !important;
}

/*set*/
.setright{
    border: 1px solid #e7e7eb;
    background-color: #f4f5f9;
}
.media_preview_area {
    float: left;
    width: 320px;
    margin-right: 16px;
    background-color: #f4f5f9;
    border: 1px solid #e7e7eb;
}

.media_preview_area .msg_card_inner {
    padding-bottom: 10px;
}

 .msg_title {
    text-align: center;
    height: 62px;
    line-height: 85px;
    font-size: 17px;
    background-color: #cfd1d8;
    color: #fff;
    background: url("../images/card_control.png") 0 -84px no-repeat;
}

.msg_card_section {
    position: relative;
    background-color: #fff
}

.msg_card_section.shop {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #e7e7ea;
    position: relative
}

.msg_card_section.shop .shop_panel {
    padding: 1px 12px 12px;
    color: #fff;
    background-color: #f4f5f9;
}

.msg_card_section.shop .logo_area {
    margin-bottom: 7px
}

.msg_card_section.shop .logo_area p {
    line-height: 42px;
    min-height: 42px;
    color: #FFF;
    color: rgba(255,255,255,0.9)
}

.msg_card_section.shop .logo {
    width: 38px;
    height: 38px;
    padding-top: 0;
    margin-right: 7px;
    border-radius: 22px;
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
    border: 1px solid #d3d3d3
}

.msg_card_section.shop .logo img {
    width: 38px;
    height: 38px;
    border-radius: 22px;
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px
}

.msg_card_section.shop .tick_msg {
    min-height: 42px;
    text-align: center;
    margin-bottom: 6px;
    color: #fff;
    color: rgba(255,255,255,0.6)
}

.msg_card_section.shop .tick_msg b {
    font-weight: normal;
    font-size: 24px;
    color: #fff
}

.msg_card_section.shop .time {
    text-align: center;
    color: rgba(255,255,255,0.6)
}

.msg_card_section.shop .deco {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 5px;
    background: url(../images/card_tpl_deco.png) repeat-x
}
.textright{text-align: right !important;}
.textleft{text-align: left !important;}
.clearfix{clear: both;}
.fc_aaa{color:#AAA;}

.cardactive .active a{background-color:#44b549 !important; }
.cardactive .li{
    background-color: #fff;margin-top: 10px;width:317px;
}
.madd{background: url("../images/add.png") no-repeat left;
    height:16px;
    display: block;}
.mque{background: url("../images/question.png") no-repeat center;
    height:16px;
    display: block;
    background-position: 89px;
}
.phonehead{
    text-align: center;height: 50px;padding: 15px 15px;font-size: 13px;line-height: 20px;color: #fff;

}
.ul-li-a a{font-size: 14px;border-radius: 0px;}
.ul-li{
    color: #C5C5C5;
    height: 20px;
    width: 20px;
    line-height: 30px;
    margin-top: 4px;
    background: url("../images/iconfont-chevronright.png") no-repeat;
    background-size: cover;
}
.nav-li-back{
    display: block;
    color: #C5C5C5;
    height: 20px;
    width: 20px;
    line-height: 30px;
    margin-top: 4px;
    background: url("../images/iconfont-chevronleft.png") no-repeat;
    background-size: cover;
}
#imglogo{}
#imglogo .img-logo{
    width:40px ;
    height: 40px;
    max-width: 100%;
    max-height: 100%;
    margin: 20px 10px 5px 12px;
    float: left;
}
#imglogosee .img-logo{
    width:50px ;
    height: 50px;
    max-width: 100%;
    max-height: 100%;
    margin: 25px 15px 10px 17px;
    float: left;
}
.logoname{
    margin: 25px 1px 10px;
    font-size: 16px;
    color: #fff;

    
}
.logonamesee{
    margin: 35px 6px 10px;
    font-size: 16px;
    color: #fff;
 
}
.step_inner{*zoom:1}.step_inner:after{content:"\200B";display:block;height:0;clear:both}.step_content{overflow:hidden}.step_list_opr{float:right;text-align:right}.step_opr_msg{display:block;font-weight:400;font-style:normal}.step_opr_msg.fail{color:#e15f63}.step_box{position:relative;margin-top:30px;padding-top:0}.step_box.no_extra_up{margin-top:0}.step_box.no_extra_down{margin-bottom:0}.icon_step_wrapper{position:absolute}.icon_step_list{text-align:center;display:inline-block;font-weight:400;font-style:normal}.icon_step_line{position:absolute;background-color:#cecece}.icon_step_line_up{height:30px;top:-25px}.no_extra_up .icon_step_line_up{display:none}.icon_step_line_down{height:100%}.no_extra_down .icon_step_line_down{display:none}.icon_step_wrapper{left:0;top:16px}.icon_step_line{width:2px;left:0}.icon_step_line_down{top:36px}.step_box{margin-bottom:30px;padding-left:20px}.pagination_wrp{text-align:right}.pagination{*font-size:0}.page_nav_area,.goto_area{display:inline-block;vertical-align:middle;font-size:12px}.page_nav_area{letter-spacing:4px;*letter-spacing:normal}.page_nav_area .btn{letter-spacing:normal;*margin:0 3px}.page_nav_area .gap_prev,.page_nav_area .gap_next{letter-spacing:normal;display:inline-block;font-size:14px;vertical-align:middle;margin-left:4px;margin-right:4px}.btn.page_nav{margin:0;background-color:#fff;background-image:-moz-linear-gradient(top,#fff 0,#fff 100%);background-image:-webkit-gradient(linear,0 0,0 100%,from(#fff),to(#fff));background-image:-webkit-linear-gradient(top,#fff 0,#fff 100%);background-image:-o-linear-gradient(top,#fff 0,#fff 100%);background-image:linear-gradient(to bottom,#fff 0,#fff 100%);border-color:#e7e7eb;color:#222;height:21px;line-height:21px;*line-height:19px;width:auto;padding-left:8px;padding-right:8px}.btn.page_nav button{color:#222}.btn.page_nav:hover{background-color:#e7e7eb;background-image:-moz-linear-gradient(top,#e7e7eb 0,#e7e7eb 100%);background-image:-webkit-gradient(linear,0 0,0 100%,from(#e7e7eb),to(#e7e7eb));background-image:-webkit-linear-gradient(top,#e7e7eb 0,#e7e7eb 100%);background-image:-o-linear-gradient(top,#e7e7eb 0,#e7e7eb 100%);background-image:linear-gradient(to bottom,#e7e7eb 0,#e7e7eb 100%);border-color:#dadbe0;box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;color:#000}.btn.page_nav:hover button{color:#222}.btn.page_nav.current{border:0;background:0;box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;cursor:default}.btn.page_prev,.btn.page_next{position:relative;font-size:0;letter-spacing:-5px;background-color:#fff;background-image:-moz-linear-gradient(top,#fff 0,#fff 100%);background-image:-webkit-gradient(linear,0 0,0 100%,from(#fff),to(#fff));background-image:-webkit-linear-gradient(top,#fff 0,#fff 100%);background-image:-o-linear-gradient(top,#fff 0,#fff 100%);background-image:linear-gradient(to bottom,#fff 0,#fff 100%);border-color:#e7e7eb;color:#222;height:21px;line-height:21px;*line-height:19px;width:auto;padding-left:20px;padding-right:20px}.btn.page_prev button,.btn.page_next button{color:#222}.btn.page_prev:hover,.btn.page_next:hover{background-color:#e7e7eb;background-image:-moz-linear-gradient(top,#e7e7eb 0,#e7e7eb 100%);background-image:-webkit-gradient(linear,0 0,0 100%,from(#e7e7eb),to(#e7e7eb));background-image:-webkit-linear-gradient(top,#e7e7eb 0,#e7e7eb 100%);background-image:-o-linear-gradient(top,#e7e7eb 0,#e7e7eb 100%);background-image:linear-gradient(to bottom,#e7e7eb 0,#e7e7eb 100%);border-color:#dadbe0;box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;color:#000}.btn.page_prev:hover button,.btn.page_next:hover button{color:#222}.btn.page_prev .arrow,.btn.page_next .arrow{position:absolute;top:50%;left:50%;margin-top:-6px;margin-left:-3px}.btn.page_first,.btn.page_last,.btn.page_go{background-color:#fff;background-image:-moz-linear-gradient(top,#fff 0,#fff 100%);background-image:-webkit-gradient(linear,0 0,0 100%,from(#fff),to(#fff));background-image:-webkit-linear-gradient(top,#fff 0,#fff 100%);background-image:-o-linear-gradient(top,#fff 0,#fff 100%);background-image:linear-gradient(to bottom,#fff 0,#fff 100%);border-color:#e7e7eb;color:#222;height:21px;line-height:21px;*line-height:19px;width:auto;padding-left:12px;padding-right:12px}.btn.page_first button,.btn.page_last button,.btn.page_go button{color:#222}.btn.page_first:hover,.btn.page_last:hover,.btn.page_go:hover{background-color:#e7e7eb;background-image:-moz-linear-gradient(top,#e7e7eb 0,#e7e7eb 100%);background-image:-webkit-gradient(linear,0 0,0 100%,from(#e7e7eb),to(#e7e7eb));background-image:-webkit-linear-gradient(top,#e7e7eb 0,#e7e7eb 100%);background-image:-o-linear-gradient(top,#e7e7eb 0,#e7e7eb 100%);background-image:linear-gradient(to bottom,#e7e7eb 0,#e7e7eb 100%);border-color:#dadbe0;box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;color:#000}.btn.page_first:hover button,.btn.page_last:hover button,.btn.page_go:hover button{color:#222}.page_next .arrow{display:inline-block;width:0;height:0;border-width:6px;border-style:dashed;border-color:transparent;border-right-width:0;border-left-color:#666;border-left-style:solid}.page_prev .arrow{display:inline-block;width:0;height:0;border-width:6px;border-style:dashed;border-color:transparent;border-left-width:0;border-right-color:#666;border-right-style:solid}.page_num{display:inline-block;vertical-align:middle;font-size:14px;*margin-right:4px;letter-spacing:normal}.goto_area{margin-left:8px}.goto_area input[type="text"]{vertical-align:middle;width:40px;height:13px;line-height:13px;padding:4px 0;border:1px solid #e7e7eb;box-shadow:inset 0 1px 1px rgba(0,0,0,0.15);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.15);-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.15);border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;text-align:center;font-size:14px;margin-right:4px}.icon_dropdown_switch,.icon_rank{display:inline-block;vertical-align:middle;margin-top:-3px;position:relative;width:10px;height:12px}.icon_dropdown_switch .arrow,.icon_rank .arrow{display:inline-block;width:0;height:0;border-width:5px;border-style:dashed;border-color:transparent;border-top-width:0;border-bottom-color:#c6c6c6;border-bottom-style:solid;vertical-align:top}.icon_dropdown_switch .arrow_down,.icon_rank .arrow_down{position:absolute;left:0;bottom:0;border-bottom-color:transparent;border-bottom-style:dashed;border-top-width:5px;border-top-color:#c6c6c6;border-top-style:solid;border-bottom-width:0}.dropdown_switch_area:hover,.rank_area:hover{cursor:pointer}.dropdown_switch_area:hover .arrow_down,.rank_area:hover .arrow_down{border-top-color:#a0a0a0}.dropdown_switch_area:hover .arrow_up,.rank_area:hover .arrow_up{border-bottom-color:#a0a0a0}.tbody .rank_area:hover{cursor:text}.dropdown_closed .arrow_up,.rank_down .arrow_up{display:none}.dropdown_closed .arrow_down,.rank_down .arrow_down{bottom:3px}.dropdown_opened .arrow_down,.rank_up .arrow_down{display:none}.dropdown_opened .arrow_up,.rank_up .arrow_up{margin-top:3px}.main_hd .extra_info{height:43px}.ic_edit{font-family:"fonticon"!important;font-size:16px;font-style:normal;-webkit-font-smoothing:antialiased;-webkit-text-stroke-width:.2px;-moz-osx-font-smoothing:grayscale;font-size:12px;color:#b2b2b2;margin-right:8px}.ic_edit:hover{text-decoration:none;font-family:"fonticon"!important;font-size:16px;font-style:normal;-webkit-font-smoothing:antialiased;-webkit-text-stroke-width:.2px;-moz-osx-font-smoothing:grayscale;font-size:12px;color:#373636;cursor:hand;cursor:pointer}.table_cell{text-align:left}.table_cell.permisser .td_panel{color:#222}.table_cell.oper .td_panel{text-align:right}.turn_page{text-align:right;margin-top:20px}.user_info{position:relative;padding-left:62px;margin-right:12px;min-height:48px;word-wrap:break-word;word-break:break-all}.user_info .avatar{position:absolute;top:0;left:0}.user_info .avatar img{width:48px;height:48px}.user_info .nick_name strong{font-weight:400;font-style:normal}.user_info .frm_checkbox_label{position:absolute;top:0;left:-90px}.align_edge .dialog_bd{padding:0;min-height:200px}.page_dispel{padding:0 30px 20px}.page_dispel .cat_hd{height:30px;line-height:30px}.page_dispel .info{color:#8d8d8d}.page_dispel .info dd{padding-left:19px}.page_dispel .item_manage{margin-top:30px}.page_dispel .methods_exp_img{float:left;height:90px;margin-right:.5em}.pop_search,.pop_loading,.pop_outcome,.pop_no_data{text-align:center}.pop_no_data{height:100px;line-height:100px;color:#8d8d8d}.pop_loading.icon_loading_small{margin:70px auto}.pop_outcome{margin-top:30px;color:#8d8d8d}.second_step{padding:15px}.icon14_common{margin-right:5px;position:relative;top:-1px}.step_list .step_box .step_inner{margin-top:-4px}.frm_input_box.search .search_gray{vertical-align:-webkit-baseline-middle}.disple_wrp{width:609px;margin:0 auto}.search_box{margin-top:35px;width:100%}.search_box .frm_input_box{width:565px}.card_intro{width:610px;margin:40px auto 0}.card_intro img{vertical-align:top}.step_list_wrp{display:inline-block;*display:inline;*zoom:1;margin-left:25px}.icon_step_list{background:url("../images/card_dispel.png") 0 0 no-repeat;width:36px;height:36px;vertical-align:middle;display:inline-block;color:#fff}.step_list{color:#8d8d8d}.step_list h4{font-weight:400;font-style:normal;color:#242424}.step_list .step_box{padding-left:36px;min-height:116px}.step_list .icon_step_list{font-size:22px}.icon_step_wrapper{left:-10px;}.icon_step_line{left:6px;background-color:#e5e5e5}.icon_step_line_up{top:-25px}.outcome{margin-top:40px;border:1px solid #e6e7ec;color:#8d8d8d}.outcome_hd{padding:1em;border-bottom:1px solid #e6e7ec;position:relative}.outcome_hd .expande_switch{position:absolute;right:1em;top:10px}.outcome_hd .expande_switch a{color:#459ae9;text-decoration:none}.outcome_hd .shop_logo{vertical-align:middle}.outcome_hd .card_contract{display:inline-block;*display:inline;*zoom:1;margin-left:10px;vertical-align:middle;position:relative}.outcome_hd .card_contract h3{line-height:14px;margin-bottom:10px;font-size:14px;font-weight:normal;color:#222;padding-top:2px}.outcome_hd .card_contract .card_info{width:423px;position:relative;color:#8d8d8d}.outcome_hd .card_contract .status{position:absolute;right:215px;top:-2px;font-size:14px;color:#222}.outcome_hd .card_contract .status.long_status{right:35px}.outcome_bd{padding:1em 0 0}.outcome_bd .shop_table{border:1px solid #e6e7ec;margin-top:10px;width:100%;color:#8d8d8d}.outcome_bd .shop_table th,.outcome_bd .shop_table td{vertical-align:middle;padding:5px 12px;font-weight:400;font-style:normal}.outcome_bd .shop_table th{background-color:#f4f5f9;border-right:1px solid #e6e7ec;color:#222}.outcome_bd .shop_table th.th_last{border-right:0;padding-left:30px}.outcome_bd .shop_table td{border-top:1px solid #e6e7ec}.outcome_bd .shop_table td.address{padding-left:30px}.outcome_bd .shop_table .name{width:185px;color:#222}.outcome_bd .common_info{padding:0 1em 0 1em}.outcome_bd .common_info .btn_more_detail{float:right}.outcome_bd .common_info .opr_p{margin-top:5px;color:#222}.outcome_bd .common_info .frm_label{width:66px}.outcome_bd .common_info .frm_control_group{padding-bottom:1em}.outcome_bd .member_info{margin-bottom:30px;padding:10px 1em 10px 94px;border-bottom:1px solid #e6e7ec}.outcome_bd .member_info .frm_control_group.show_value{padding-bottom:5px}.outcome_bd .member_avator{float:left;width:40px;height:40px;margin-top:6px}.outcome_bd .member_msg{max-width:300px;float:left;margin-left:10px}.outcome_bd .frm_label{color:#222}.ft{text-align:center;color:#8d8d8d;padding:35px 0}.ft .mass_send_tips{margin-top:10px;line-height:35px}.no_data{height:100px;line-height:100px;text-align:center;color:#8d8d8d}.disple_outcome{text-align:center;color:#8d8d8d;width:560px;margin:0 auto;padding-top:150px}.disple_outcome .icon_msg.icon_successed{background:url("../images/card_dispel.png") 0 -46px no-repeat}.disple_outcome .btn{margin-top:50px}.adduser_dialog .first_step{margin:95px 0;height:248px}.adduser_dialog .second_step{padding:50px 120px 50px}.item_manage .cat_hd{margin-bottom:20px}

/*   search   */
.Search{
	height:60px;
	padding-top:10px;
	width:100%;
	background: #EFEDF3;
}
.inp{
	position: relative;
	height:49px;
	width:91.6%;
	border:1px solid #D4D4D6;
	margin-left:4.4%;
	border-radius: 5px;
}
.Search_Inp{
	float: left;
	height:100%;
	width:85.8%;
	border:none;
	background:#fff;
	outline:none;
	padding-left:16px;
}
.Search_Btn{
	float: left;
	height:100%;
	width:14.2%;
	background: #03BF01 url(../images/search.png) no-repeat center;
	border:none;
	outline:none;
}
.inp span{
	position: absolute;
	top:10px;
	right:18%;
	display: block;
	height:26px;
	width:26px;
	background: url(../images/close.png) no-repeat center;
}
/*   footer   */
.footer{
	text-align: center;
	padding-top:20px;
}
.footer span{	
	font-size:18px;
	color:#A8A7AA
}

/*卡包*/

.curved_box {
    display: inline-block;
    *display: inline;
    width: 100%;
    height: 120px;
    margin: 10px 0px;

    border: 1px solid #eee;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 60px rgba(0, 0, 0, 0.06) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    position: relative;
    *zoom: 1;
}
.curved_box:before {
    -webkit-transform: skew(-15deg) rotate(-6deg);
    -moz-transform: skew(-15deg) rotate(-6deg);
    transform: skew(-15deg) rotate(-6deg);
    left: 15px;
}
.curved_box:after {
    -webkit-transform: skew(15deg) rotate(6deg);
    -moz-transform: skew(15deg) rotate(6deg);
    transform: skew(15deg) rotate(6deg);
    right: 15px;
}

.yezi-img-l{
    width: 40px;
    height: 40px;
    max-width: 100%;
    max-height: 100%;
    margin: 20px 10px 20px 15px;
    float: left;
}
.yezi-img-r{
    width: 40px;
    height: 40px;
    max-width: 100%;
    max-height: 100%;
    margin: 20px 10px 20px 0px;
    float: right;
}
.yezi-logoname{
    margin: 29px 0px 10px;
    font-size: 18px;
    color: #fff;
}
.yezi-bg{
    height: 80px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;;
    margin: -1px;
}
.yezi-deco{
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 5px;
    background: url(../images/card_tpl_deco.png) repeat-x
}
.yezi-footer{
    background-color: #fff;height: 40px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: -1px;
    padding: 10px;
}



